<h2>Completed Tasks</h2>

<div class="task-list">

    <!-- display list of completed tasks, if no tasks have been completed, display message -->
    {{#if tasks}}
        <ul>
            {{#each tasks}}
                <li><a href="task/{{this._id}}">{{this.text}}</a></li>
            {{/each}}
        </ul>

    {{else}}
        <p>No tasks have been completed.</p>
    {{/if}}

    <!-- Form to add in delete completed tasks button -->
    {{#if tasks}}
        <div class="delete-done">
            <form action="/deleteDone" method="POST">
                <input class="delete-done-button" type="submit" value="Delete Completed Tasks">
            </form>
        </div>
    {{/if}}

</div>

<script type="text/javascript" src="/public/javascripts/delete-button.js"></script>