<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <!-- Adds links to the main page and completed page -->
    <div class="navigation">
        <a href="/">Tasks To Do</a> <a href="/completed">Completed Tasks</a>
    </div>

  </body>
</html>
